
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto');


html {

}

body {
    font-family: 'Roboto', sans-serif;
}

.page-title {

}

.visitor-pic {
    max-height: 100%;
    max-width: 100%;
}
